.cards{
	display: flex;
	flex-wrap: wrap;
}
.card {


	text-align: center;
	text-decoration: none;
	padding:  30px;
	width: 250px;
}

.card img {
	width: 200px;
	border-radius: 2px;
}

.card h3 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 18px;
}
